@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add A Movie";
}

@model MovieForm

<div class="col">
    <form asp-controller="Home" asp-action="AddMovie" method="post" class="col">
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2">
                    <label asp-for="Director" class="pr-2">Director:</label>
                    <input asp-for="Director" />  
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.Director)
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2 align-items-center">
                    <label asp-for="Edited" class="pr-2">Edited?</label>
                    <input asp-for="Edited" />
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.Edited)
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2">
                    <label asp-for="LentTo" class="pr-2">Lent To:</label>
                    <input asp-for="LentTo" />
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.LentTo)
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2">
                    <label asp-for="Notes" class="pr-2">Notes:</label>
                    <input asp-for="Notes" />
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.Notes)
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2">
                    <label asp-for="Rating" class="pr-2">Rating:</label>
                    @Html.DropDownListFor(m => m.Rating, Html.GetEnumSelectList(typeof(RatingTypes)), "Please choose a rating:")
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.Rating)
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2">
                    <label asp-for="Title" class="pr-2">Title:</label>
                    <input asp-for="Title" />
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-12">
                <div class="row justify-content-center pb-2">
                    <label asp-for="Year" class="pr-2">Year:</label>
                    <input asp-for="Year" />
                </div>
            </div>
            <div class="col-12">
                @Html.ValidationMessageFor(m => m.Year)
            </div>
        </div>
        <div class="row">
            @Html.ValidationSummary()
        </div>
        <div class="col-4 offset-4">
            <div class="row justify-content-around">
                <button class="btn btn-primary" type="submit">Add Movie</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </form>
    
</div>
